@import url("https://fonts.googleapis.com/css2?family=Arimo");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Minion;
  src: local('Minion'), url('../fonts/minion.otf') format('otf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas'), url('../fonts/Bebas.ttf') format('ttf');
}

.bebas-font {
  font-family: 'Bebas Neue';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  max-width: 1200px;
  color: black;
}

.minion-font {
  font-family: "Minion";
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  padding-left: 15%;
}

.margin-x {
  @apply lg:ml-[12%];
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-0 px-6 font-medium outline-none;
}

.home-link {
  display: inline-block;
}

.header-link {
  padding-left: 10px;
  font-style: italic;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.checkout_btn {
  margin: 0 0 0 auto;
}

.product-details {
  @apply w-full md:w-[40%];
}

/* END: General styles */

/* START: Header stylers */

.site-section {
  padding-left: 10px;
  margin-bottom: 30px;
  @apply text-sm;
}

.about-section {
  font-family: 'Minion';
  margin-bottom: 30px;
  text-align: justify;
}

.main_header {
  color: white;
  background-color: blue;
  display: table;
  font-weight: bold;
  font-style: italic;
  padding-right: 60px;
  padding-left: 1px;
}

.product-details-header {
  color: white;
  background-color: black;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  padding-right: 7.5%;
  padding-left: 1px;
}

.cart-header {
  color: white;
  background-color: #B84221;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  padding-right: 7.5%;
  padding-left: 1px;
}

.cart-details-header {
  color: white;
  background-color: #B84221;
  /* font-weight: bold; */
  /* padding-right: 7.5%; */
  padding-left: 1%;
}

.words-header {
  padding-bottom: 15px;
  border-bottom: solid 1px black;
}

.words-body {
  border: dashed 2px blue;
  padding-right: 3px;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
  max-height: 600px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: auto;
}

iframe {
  display: block;
  width: 100%;
}


.product-info {
  border-bottom: 1px solid gray;
}

.about_header {
  color: white;
  background-color: black;
  display: table;
  font-weight: bold;
  font-style: italic;
  min-width: 15%;
}

.product-tile {
  border: dashed 2px blue;
  /* border-2 border-blue-500 border-dotted */
}

.back-button {
  float: right;
  font-style: italic;
}

.landing-page {
  justify-content: right;
}

/* END: Header stylers */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}

.objects_link {
  font-style: italic;
  @apply block mr-2 sm:mr-20 md:inline-block;
  padding-right: 30px;
}

.entry-number {
  font-style: italic;
  padding-right: 30px;
  padding-left: 1px;
}

.soundcloud_link {
  margin-top: 30px;
}

/* .html {
  font-family: 'Minion';
} */

.soundcloud_title {
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}

/* END: Home styles */

body {
  color: black;
  background: white;
  @apply pl-[5%] md:pl-[10%];
  @apply max-w-[90%] md:max-w-[80%];
}

.soundcloud-section {
  border: dashed blue 2px;
  padding: 10px;
}

.projects {
  user-select: none;
  -webkit-user-select: none;
  position: relative
}

.projects li {
  line-height: 1em
}

.projects li a span:first-child {
  display: inline-block;
  padding-bottom: 0.2em
}

body {
  color: black;
  background: white;
  padding-left: 10%;
  max-width: 70%;
}

@media screen and (max-width: 800px) {
  .projects {
    padding-top: 6rem
  }

  .projects li:last-of-type {
    margin-bottom: 3.3em
  }
}

.project-preview {
  opacity: 0;
  transition: opacity .10s linear;
  height: calc(calc(var(--col) * 4) / 5 * 4);
  top: calc((100vh - (calc(var(--col) * 4) * 0.8)) / 2);
  margin-left: calc(var(--col) * 3);
  pointer-events: none
}

@media (pointer: coarse) and (max-width: 800px) {
  .project-preview {
    top: calc((100vh - (calc(var(--col) * 10) * 0.8)) / 2)
  }
}

@media screen and (max-width: 800px) {
  .project-preview {
    margin-left: var(--col);
    height: calc(calc(var(--col) * 10) / 5 * 4)
  }

  .project-preview.absolute {
    position: fixed
  }
}

.project-preview a:hover {
  text-decoration: none
}

.project-preview figure {
  width: 100%;
  height: calc(calc(var(--col) * 4) / 5 * 4);
  display: block;
}

.project-preview img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.projects li.active+project-preview {
  opacity: 1;
  z-index: 9;
}